.test_content {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.test_content_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fbd7db;
    padding: 2em;
}

.test_content_title {
    font-family: 'Noto Sans Armenian', sans-serif;
    margin-bottom: 1em;
    font-weight: 800;
    color: #fb1154;
    text-align: center;
}

.test_content_inp_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test_content_inp_content_item {
    width: 100%;
    margin-bottom: .6em;
}

.test_content_inp_content_item_title {
    font-family: 'Noto Sans Armenian', sans-serif;
    margin-bottom: .2em;
    font-weight: 800;
    font-size: .8em;
    text-align: center;
}

.test_content_inp_content_item_inp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.test_content_inp_content_item_inp input {
    width: 10%;
    border: 2px solid #fb1154;
    font-family: 'Noto Sans Armenian', sans-serif;
    font-weight: 800;
    outline: none;
}

.test_content_inp_content_btn button {
    font-family: 'Noto Sans Armenian', sans-serif;
    padding: .5em 1em;
    font-weight: 700;
    outline: none;
    border: 2px solid black;
    cursor: pointer;
    transition: .3s ease-in-out;
    color: black;
    background-color: transparent;
}

.test_content_inp_content_btn button:hover {
    background-color: black;
    color: #fbd7db;
}

.test_content_in_items {
    margin-bottom: 1em;
}

.test_content_in_items_1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5em;
}

.test_content_in_items_1_1 {
    font-family: 'Noto Sans Armenian', sans-serif;
    font-weight: 700;
    margin-bottom: .3em;
    font-size: .7em;
}

.test_content_in_items_1_2 input {
    font-family: 'Noto Sans Armenian', sans-serif;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.test_content_inp_content_in_items,
.test_content_inp_content_in_items_im {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test_content_inp_content_in_items_im {
    margin-bottom: .5em;
    width: 100%;
    background-color: rgba(255, 255, 255, .6);
}

.test_content_in_items_1_2_b input {
    font-family: 'Noto Sans Armenian', sans-serif;
    font-weight: 700;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: center;
}

.test_content_inp_content_in_items_btn button {
    font-family: 'Noto Sans Armenian', sans-serif;
    padding: .3em;
    transition: .3s ease-in-out;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-bottom: 1em;
}

.test_content_inp_content_in_items_btn button:hover {
    background-color: black;
    color: white;
}

.test_content_inp_content_in_items_results_content_items {
    font-family: 'Noto Sans Armenian', sans-serif;
    font-weight: 400;
    font-size: .9em;
}

.test_content_inp_content_in_items_sec_btn button {
    font-family: 'Noto Sans Armenian', sans-serif;
    padding: .3em;
    transition: .3s ease-in-out;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin-bottom: 1em;
}

.test_content_inp_content_in_items_sec_btn button:hover {
    background-color: white;
    color: black;
}